body {
    background: #181824;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.bg-image-dark {
    width: 100%;
    position: fixed;
    z-index: -1;
}

#todo-list_app {
    padding: 4em 0 0;
    width: 480px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}

.top-elements {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

h1 {
    font-size: 25px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: left;
}

.theme {
    width: 25px;
}

.task-list {
    margin: 0 0 2em;
    background: #24273d;
    border-radius: 5px;
}

.add-task_field {
    margin: 2em 0 2em;
    width: 100%;
    border-radius: 5px;
    background: #24273d;
}

#add-task {
    background: none;
    width: 80%;
    padding: 1em 0;
    font-family: 'Josefin Sans';
    font-size: 18px;
    color: #b1b1b1;
    border: none;
}

#submit {
    background: none;
    width: 20%;
    padding: 1em 0;
    font-family: 'Josefin Sans';
    font-size: 18px;
    color: #b1b1b1;
    border-left: 1px solid #b1b1b1;
    border-bottom: none;
    border-right: none;
    border-top: none;
}

#submit:hover {
    background-color: blue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

#submit:active {
    background-color: aqua;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.list-of-tasks {
    text-align: center;
}

.list-of-tasks li {
    text-align: justify;
    padding: 1em 0;
    border-bottom: 1px solid #b1b1b1;
    color: #b1b1b1;
}

.checkbox {
    border: none;
    background: none;
}

.navbar {
    padding: 1em 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.navbar button {
    background: none;
    border: none;
    font-family: 'Josefin Sans';
    color: #b1b1b1;
}

.nav2 button {
    margin: 0 0.2em;
}

.instruction {
    margin: 0 0 2em;
    color: #b1b1b1;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* onclick styles */

.line-through-item {
    text-decoration: line-through;
}